<div class="container">
  <button class="buttons" (click)="goBack()">Назад</button>
  <div class="theme-options">
    <div id="theme-white"></div>
    <div id="theme-blue"></div>
    <div id="theme-orange"></div>
    <div id="theme-purple"></div>
    <div id="theme-green"></div>
    <div id="theme-black"></div>
  </div>
  <div class="grid-container">
    <div class="grid-item">1</div>
    <div class="grid-item">2</div>
    <div class="grid-item">3</div>
    <div class="grid-item">4</div>
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores atque
    veritatis dicta. Blanditiis voluptates fuga impedit, vel nostrum sunt autem
    beatae culpa. Doloremque maiores impedit pariatur vel, tenetur culpa officia
    eum minus neque illo ea aliquid atque id assumenda esse illum omnis non.
    Debitis illo quo ea cumque, voluptatibus odio.
  </p>

  <button class="buttons">Сохранить</button>
</div>
