<mat-toolbar color="primary">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <img src="favicon.ico" alt="Логотип" class="logo" />
  <span>MedicalQueue. Админ-меню</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <button
      mat-button
      class="menu-button"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/" class="category">Страницы</a>
    </button>
    <button mat-button class="menu-button">
      <a href="/#section1" class="subcategory">Расписания</a>
    </button>
    <button mat-button class="menu-button">
      <a href="/#section2" class="subcategory">Электронная очередь</a>
    </button>
    <button mat-button class="menu-button">
      <a href="/#section3" class="subcategory">Объявления</a>
    </button>
    <button mat-button class="menu-button">
      <a href="/#section4" class="subcategory">Информационные страницы</a>
    </button>

    <button mat-button class="menu-button" routerLinkActive="active">
      <a routerLink="/monitors" class="category">Мониторы</a>
    </button>
    <button mat-button class="menu-button">
      <a href="/monitors/#section1" class="subcategory">Схемы работы</a>
    </button>
    <button mat-button class="menu-button">
      <a href="/monitors/#section2" class="subcategory">Цветовые схемы</a>
    </button>
    <button mat-button class="menu-button">
      <a href="/monitors/#section3" class="subcategory">Активные мониторы</a>
    </button>

    <button mat-button class="menu-button" routerLinkActive="active">
      <a routerLink="/diagnostics" class="category">Диагностика</a>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
