.full-width-table {
  width: 100%;
}

button {
  height: 34px;
  width: 34px;
  min-width: 34px;
  padding: 0;
}

.big-button {
  height: 100%;
  width: 100%;
  min-width: 100%;
  border-bottom: 1px solid #d3d3d3;;
}

strong {
  font-size: large;
  color: black;
}

.text-field {
  margin-left: 40px;
  margin-right: 20px;
  display: block;
}

.selection_buttons {
  height: 40px;
  width: 90px;
  margin-right: 10px
}

.grid-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr; /* задает ширину колонок: 1fr и 2fr */
  grid-gap: 10px; /* задает промежуток между блоками */
}