.full-width-table {
  width: 100%;
}

button {
  height: 34px;
  width: 34px;
  min-width: 34px;
  padding: 0;
}

.big-button {
  height: 100%;
  width: 100%;
  min-width: 100%;
}

strong {
  font-size: large;
  color: black;
}
