<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <strong>Действия</strong>
      </th>
      <td mat-cell *matCellDef="let row" style="width: 200px">
        <button mat-button>
          <img src="../../../assets/edit.png" alt="Редактирование" />
        </button>
        <button mat-button>
          <img src="../../../assets/delete.png" alt="Удаление" />
        </button>
      </td>
    </ng-container>

    <!-- Схема работы Column -->
    <ng-container matColumnDef="scheme_of_work">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <strong>Схема работы</strong>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.scheme_of_work }}</td>
    </ng-container>

    <!-- Описание Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <strong>Описание</strong>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.description }}</td>
    </ng-container>

    <!-- Таймаут запроса Column -->
    <ng-container matColumnDef="request_timeout">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <strong>Таймаут запроса</strong>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.request_timeout }}</td>
    </ng-container>

    <!-- Страницы Column -->
    <ng-container matColumnDef="pages">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <strong>Страницы</strong>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.pages }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- Add Button -->
  <div style="text-align: center; background-color: white">
    <button
      mat-button
      class="big-button"
      (click)="toggleBlock()"
      *ngIf="!showBlock"
    >
      <img
        src="../../../assets/add.png"
        alt="Добавление"
        style="padding-right: 4px"
      />
      <span>Добавить</span>
    </button>
  </div>

  <!-- Поля ввода -->
  <div style="background-color: white" *ngIf="showBlock">
    <div class="grid-container">
      <div>
        <span class="text-field">Наименование схемы работы</span>
        <mat-form-field class="text-field">
          <mat-label>Введите наименование</mat-label>
          <input matInput type="text" [(ngModel)]="value1" />
          <button
            *ngIf="value1"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="value1 = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div>
        <span class="text-field" style="margin-left: 10px"
          >Таймаут запроса (секунд)</span
        >
        <mat-form-field class="text-field" style="margin-left: 10px">
          <mat-label>Введите таймаут</mat-label>
          <input matInput type="text" [(ngModel)]="value2" />
          <button
            *ngIf="value2"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="value2 = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <ng-container *ngFor="let field of formFields; let i = index">
      <div>
        <span class="text-field">{{ field.label }}</span>
        <mat-form-field class="text-field">
          <mat-label>{{ field.description }}</mat-label>
          <input matInput type="text" [(ngModel)]="formFields[i].value" />
          <button
            *ngIf="field.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="field.value = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </ng-container>

    <!-- Кнопки отмены и сохранения -->
    <div style="display: flex; justify-content: flex-end">
      <button
        class="selection_buttons"
        (click)="!toggleBlock(); value1 = ''; value2 = ''; clearAllFormFields()"
      >
        Отменить
      </button>
      <button
        class="selection_buttons"
        style="margin-right: 20px"
        (click)="!toggleBlock(); value1 = ''; value2 = ''; clearAllFormFields()"
      >
        Сохранить
      </button>
    </div>
  </div>

  <mat-paginator
    #paginator
    [length]="dataSource?.data.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 50]"
  >
  </mat-paginator>
</div>
