.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    word-wrap: break-word;
    font-size: 2vh;
  }

  h4 {
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  p {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
  }